################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SignalR/.vs/SignalR
/SignalR/SignalR/obj
/SignalR/SignalR/bin/Debug/netcoreapp3.0
/SignalR/SignalR/bin/Debug/netcoreapp3.1
